.container{
    max-width: 800px;
    width: 80%;
    margin: auto;
    position: relative;

    .controls{
        display: flex;
        justify-content: space-between;
        position: absolute;
        top: 50%;
        width: 100%;

        .fa-solid{
            font-size: 2rem;
        }
    }

    .slides{

        .active{
           
        }

        & img{
            width: 100%;
            object-fit: cover;
            object-position: center;
        }

        & img:not(.active){
            display: none;
        }
    }
}